@import "src/styles";

.container {
  padding-top: 180px;
  max-width: 90%;
}

.card-secondary {
  margin-top: 50px;

  .content {
    text-align: center;
  }
}

.half {
  .label-small {
    font-size: 12pt;
  }

  .button {
    margin: 30px auto 0 auto;
    width: inherit;
  }

  #excelIcon {
    padding-top: 30px;
    height: 110px;
    float: left;
  }
}

.data-label {
  font-family: 'Avenir Light', sans-serif;
  font-size: 14pt;
}

#whoIcon {
  width: 90px;
}

#whoLabel {
  font-size: 16pt;
  margin-top: 10px;
}

.left {
  width: 50%;
}

.right {
  width: 47%;
  float: right;
  margin-left: 10px;
}


// Additional responsive styles

@media screen and (max-width: $break-small) {
  .container {
    max-width: 100%;
    padding-top: 100px;
  }

  .left {
    width: fit-content;
  }

  .right {
    width: fit-content;
    margin-left: 0;
  }

  .data-label {
    font-size: 12pt;
  }


}
