.container {
  padding-top: 180px;
  max-width: 90%;
}

.card-secondary {
  margin-top: 50px;

  .content {
    text-align: center;
  }
}

.left {
  width: 47%;
  display: inline-block;
}

.right {
  width: 50%;
}

.half {
  .label-small {
    font-size: 12pt;
  }

  .button {
    margin: 30px auto 0px auto;
    width: inherit;
  }

  #excelIcon {
    padding-top: 30px;
    height: 110px;
    float: left;
  }
}

.data-label {
  font-family: 'Avenir Light';
  margin-top: 15px;
}

#whoIcon {
  width: 90px;
}

#whoLabel {
  font-size: 16pt;
  margin-top: 10px;
}
