<body>
  <div class="container">
    <div class="card">
      <div class="content">
        <span class="label">country administration</span>
        <div class="button" style="float: right">
          <img src="assets/xIcon.svg" class="button-icon"/>
          sign out
        </div>
        <div class="button" style="float: right" routerLink="/admin/users">
          <img src="assets/admin/adminIcon.svg" class="button-icon"/>
          admin users
        </div>
        <div class="card-secondary">
          <div class="content">
            <div class="row">
              <div class="square button" routerLink="/admin/regions">
                <div class="content">
                  <img src="assets/admin/regionsIcon.svg"/>
                  <div class="label">regions</div>
                </div>
              </div>
              <div class="square button" routerLink="/admin/pathologies">
                <div class="content">
                  <img src="assets/admin/pathologiesIcon.svg"/>
                  <div class="label small">pathologies</div>
                </div>
              </div>
              <div class="square button" routerLink="/admin/patient-status">
                <div class="content">
                  <img src="assets/admin/patientstatusIcon.svg"/>
                  <div class="label medium">patient status</div>
                </div>
              </div>
              <div class="square button" routerLink="/admin/health-centers-table">
                <div class="content">
                  <img src="assets/admin/healthcenterIcon.svg"/>
                  <div class="label medium">health centers</div>
                </div>
              </div>
              <div class="square button" routerLink="/admin/sanitary-measures">
                <div class="content">
                  <img src="assets/admin/sanitarymeasuresIcon.svg"/>
                  <div class="label medium">sanitary measures</div>
                </div>
              </div>
              <div class="square button" routerLink="/admin/country-measures">
                <div class="content">
                  <img src="assets/admin/countrymeasuresIcon.svg"/>
                  <div class="label medium">country measures</div>
                </div>
              </div>
              <div class="square button" routerLink="/admin/medication">
                <div class="content">
                  <img src="assets/admin/medicationIcon.svg"/>
                  <div class="label small">medication</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-secondary left">
          <div class="content">
            <div class="half">
              <div class="label subtitle">import patient file</div>
              <span class="dark-ready"><img src="assets/admin/excel-file.svg" id="excelIcon"/></span>
              <span class="label-small">
                <br><br>
                supported formats:
                <br>
                .xls .xlsx
              </span>
            </div>
            <div class="half" style="float:right;">
              $FILE PICKER GOES HERE$
              <div class="button">
                <img src="assets/admin/uploadIcon.svg" class="button-icon"/>
                upload
              </div>
            </div>
          </div>
        </div>
        <div class="card-secondary right" style="float: right">
          <div class="content">
            <div class="half" style="float:left">
              <div class="label subtitle">logged in as $NAME</div>
              <div class="label subtitle" id="emailLabel">email: $EMAIL</div>
            </div>
            <div style="float:right;width: 40%">
              <span class="dark-ready"><img src="assets/admin/whoIcon.svg" id="whoIcon" style="width: 38%"/></span>
              <span id="whoLabel">World Health Organization</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
