<nav class="navbar fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <img src="assets/pandemica-icon.svg" alt="" class="icon">
      </div>
      <div class="col">
        <h2 class="tittle">pandemica</h2>
      </div>
    </div>
  </div>

  <a routerLink="/home">
    <img src="assets/navbar/homeIcon.svg" alt="" class="route-icon">
    home
  </a>
  <a routerLink="/auth">
    <img src="assets/navbar/userIcon2.svg" alt="" class="route-icon">
    profile
  </a>
  <a routerLink="">
    <img src="assets/navbar/hospitalIcon.svg" alt="" class="route-icon">
    health center
  </a>
  <a routerLink="">
    <img src="assets/navbar/adminIcon.svg" alt="" class="route-icon">
    admin
  </a>
  <a routerLink="">
    <img src="assets/navbar/lightbulbIcon.svg" alt="" class="route-icon">
    about
  </a>
  <a routerLink="">
    <img src="assets/navbar/logOutIcon.svg" alt="" class="route-icon">
    sign out
  </a>

</nav>
