<nav class="navbar fixed-top" data-aos="fade-right">
  <div class="navbar-nav">
    <div class="container">
      <div class="row">
        <div class="col-5">
          <img src="assets/pandemica-icon.svg" alt="" class="icon dark-ready">
        </div>
        <div class="col">
          <h2 class="title">pandemica</h2>
        </div>
      </div>
    </div>

    <!-- Content -->
    <a routerLink="/home">
      <img src="assets/navbar/homeIcon.svg" alt="" class="route-icon dark-ready">
      home
    </a>
    <a routerLink="/auth">
      <img src="assets/navbar/userIcon2.svg" alt="" class="route-icon dark-ready">
      profile
    </a>
    <a routerLink="">
      <img src="assets/navbar/hospitalIcon.svg" alt="" class="route-icon dark-ready">
      health center
    </a>
    <a routerLink="">
      <img src="assets/navbar/adminIcon.svg" alt="" class="route-icon dark-ready">
      admin
    </a>
    <a routerLink="">
      <img src="assets/navbar/lightbulbIcon.svg" alt="" class="route-icon dark-ready">
      about
    </a>
    <a routerLink="">
      <img src="assets/navbar/logOutIcon.svg" alt="" class="route-icon dark-ready">
      sign out
    </a>
  </div>
</nav>

<div class="navbar-buttons">
  <div class="rounded-card">
    <div class="content">
      <div class="rounded-button" routerLink="/about">
        <img src="assets/navbar/lightbulbIcon.svg" class="button-icon"/>
      </div>
      <div class="rounded-button" routerLink="/user-access">
        <img src="assets/navbar/userIcon.svg" class="button-icon"/>
      </div>
    </div>
  </div>
</div>
