<mat-card-content mat-dialog-content>
  <div class="container">
    <div class="info-label" style="font-size: 20pt;margin-bottom: 30px;margin-top: 20px">
      <div *ngIf="type === 'add'; else editTitleLabel">
        {{ type }} new reservation
      </div>
      <ng-template #editTitleLabel>
        {{ type }} reservation
      </ng-template>
    </div>
    <form [formGroup]="_elementForm">
      <div class="form-group">
        <div class="col-md-6">
          <input matInput [matDatepicker]="aka" placeholder="start date" (dateChange)= "updateDOB($event)" disabled>
          <mat-datepicker-toggle matSuffix [for]="aka"></mat-datepicker-toggle>
          <mat-datepicker touchUi #aka disabled="false"></mat-datepicker>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col">
        <button class="button" type="submit" (click)="submit()" style="margin-top: 30px">
          <div *ngIf="type === 'add'; else editLabel">
            <img src="assets/addIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </div>
          <ng-template #editLabel>
            <img src="assets/editIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</mat-card-content>
