@import "src/styles";

body {
  letter-spacing: 2px;
  font-size: 14pt;
}

.container {
  width: 80%;
  padding-top: 180px;

  @media screen and (min-width: $break-large) {
    width: 70%;
  }
  @media screen and (max-width: $break-medium) {
    width: 90%;
  }
}

.label {
  padding-bottom: 20px;
}

.card-secondary {
  width: 100%;
}

.mainLogo {
  text-align: center;
  img {
    height: 230px;
  }
}

.aligned-left {
  text-align: left;
  padding-left: 10px;
}

.label-red {
  padding-top: 10px;
  padding-left: 80px;
}

#pandemicaLabel {
  font-size: 40pt;
  text-align: center;
}

#teamtitleLabel {
  text-align: center;
  font-family: 'Avenir Black', sans-serif;
  font-size: 16pt;
  padding-bottom: 30px;
}

#schlafenhaseLogo {
  height: 100px;
}

#schlafenhaseLabel {
  letter-spacing: 0;
  font-family: 'Avenir Medium', sans-serif;
  font-size: 16pt;
  margin-top: 20px;
}

#schlafenhaseNameLabel {
  font-family: 'Avenir Book', sans-serif;
  font-size: 25pt
}

// Second Wave

#label-second-wave {
  font-size: 22pt;
  text-align: center;
  margin-bottom: 30px;

  #waveIcon {
    height: 50px;
  }
}

@media (prefers-color-scheme: dark) {
  #gitHubIcon {
    filter: invert(1);
  }
}

@media screen and (max-width: $break-medium) {
  .mainLogo {
    img {
      height: 170px;
    }
  }

  #pandemicaLabel {
    font-size: 30pt;
  }

  #label-second-wave {
    font-size: 18pt;

    #waveIcon {
      height: 30px;
    }
  }

  #schlafenhaseLabel {
    margin-top: 10px;
    font-size: 12pt;
  }

  #schlafenhaseNameLabel {
    font-size: 22pt;
  }

  #schlafenhaseLogo {
    height: 70px;
  }
}

@media screen and (max-width: $break-small) {
  .mainLogo {
    img {
      height: 100px;
    }
  }

  .container {
    width: 100%;
  }

  .label-red {
    padding-left: 0px;
    font-size: 12pt;
    text-align: center;

    #gitHubIcon {
      height: 40px;
    }
  }

  #teamtitleLabel {
    padding-top: 15px;
    font-size: 14pt;
  }

  #schlafenhaseLogo {
    height: 60px;
    margin-bottom: 0px;
  }

  #schlafenhaseLabel {
    font-size: 10pt;
    padding-top: 10px;
  }

  #schlafenhaseNameLabel {
    font-size: 16pt;
  }

  #pandemicaLabel {
    font-size: 26pt;
  }

  #label-second-wave {
    font-size: 14pt;

    #waveIcon {
      height: 30px;
    }
  }
}


@media screen and (max-width: $break-smallest) {
  .card {
    .content {
      padding: 20px 30px;
    }
  }
  #pandemicaLabel {
    font-size: 20pt;
  }

  #schlafenhaseLogo {
    height: 50px;
  }

  #schlafenhaseLabel {
    font-size: 8pt;
    padding-top: 30px;
  }

  #schlafenhaseNameLabel {
    font-size: 10pt;
  }

  #teamtitleLabel {
    padding-top: 15px;
    font-size: 10pt;
  }

  #label-second-wave {
    font-size: 12pt;

    #waveIcon {
      height: 20px;
    }
  }
}
