/* You can add global styles to this file, and also import other style files */
@import "src/styles";

$transition : .5s;

.map-container {
  position: absolute;
  width: 800px;
  height: 500px;
  right: 30px;
  top: 30px;

  background: $secondary;
  color: $black;

  -webkit-clip-path: circle(50px at 720px 54px);
  clip-path: circle(50px at 720px 54px);

  &:hover {
    transition-timing-function: ease-out;
    transition-duration: $transition;
    -webkit-clip-path: circle(950px at 700px 24px);
    clip-path: circle(950px at 700px 24px);
  }
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

.icon {
  position: absolute;
  top: 8px;
  right: 35px;
  width: 90px;
  height: 90px;
}

.title {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  div {
    background: #282828;
    color: white;
  }
}

// Additional responsive styles

@media screen and (max-width: $break-small) {
  .map-container {
    width: 250px;
    height: 300px;
    right: 10px;
    top: 10px;
    text-align: right;

    clip-path: circle(40px at 195px 44px);
  }

  .title {
    font-size: 14pt;
  }

  .icon {
    right: 10px;
    height: 70px;
  }
}

@media screen and (max-width: $break-smallest) {
  .map-container {
    width: 200px;
    height: 250px;
    right: 0px;
    top: 10px;
    text-align: left;

    clip-path: circle(40px at 145px 44px);
  }
}
