<div class="container">

  <!-- Country and date -->
  <div class="row">
    <div class="col mt-5" align="center">
      <h1>{{country}} situation</h1>
      <h2 class="label-pr bg-primary mt-3">COVID-19</h2>
      <h6 class="font-weight-light mt-4">last update: {{lastUpdate | date:'yyyy-MM-dd HH:mm a z'}}</h6>
    </div>
  </div>

  <!-- Cases/Deaths/Active/Recovered -->
  <div class="row mt-5" align="center">
    <div class="col">
      <h5>confirmed cases</h5>
      <h2 class="label-sc bg-dark">{{confirmed | number}}</h2>
    </div>
    <div class="col-2 mt-5">
      <h5 class="label-tr bg-primary">{{active | number}}</h5>
      <h5>active</h5>
    </div>
    <div class="col-2 mt-5">
      <h5 class="label-tr bg-danger">{{dead | number}}</h5>
      <h5>dead</h5>
    </div>
    <div class="col">
      <h5>recovered</h5>
      <h2 class="label-sc bg-info">{{recovered | number}}</h2>
    </div>
  </div>

    <!-- Nationals/Foreign -->
    <div class="row mt-4" align="center">
      <div class="col">
        <h5 class="label-ft bg-light">nationals: {{nationals | number}}</h5>
      </div>
      <div class="col">
        <h5 class="label-ft bg-light">foreign: {{foreign | number}}</h5>
      </div>
  </div>

  <div class="row mt-5">
    <!-- Today summary -->
    <div class="col-6">
      <h5>{{lastUpdate | date:'fullDate'}}</h5>
      <div class="container">
        <!-- New cases -->
        <div class="row mt-4">
          <div class="col-4" >
            <img src="assets/home/newIcon.svg" alt="" class="icon">
          </div>
          <div class="col">
            <h5 class="text-primary">{{newCases | number}}</h5>
            <h5 class="font-weight-normal">new cases</h5>
          </div>
        </div>
        <!-- New recovered -->
        <div class="row mt-4">
          <div class="col-4" >
            <img src="assets/home/heartIcon.svg" alt="" class="icon">
          </div>
          <div class="col">
            <h5 class="text-info">{{newRecovered | number}}</h5>
            <h5 class="font-weight-normal">recovered</h5>
          </div>
        </div>
        <!-- New cases -->
        <div class="row mt-4">
          <div class="col-4" >
            <img src="assets/home/deadIcon.svg" alt="" class="icon">
          </div>
          <div class="col">
            <h5 class="text-dark">{{newDeceased | number}}</h5>
            <h5 class="font-weight-normal">deceased</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Patients place -->
    <div class="col-6">
      <h5 class="bg-dark chart-tittle">patients</h5>
      <app-patients-chart [view]="[500, 400]"></app-patients-chart>
    </div>
  </div>

  <div class="row mt-5">
    <!-- Cases by gender -->
    <div class="col-6">
      <app-gender-chart></app-gender-chart>
    </div>
    <!-- Cases by age group -->
    <div class="col-6">
      <h5 class="bg-dark chart-tittle">cases by age group</h5>
      <app-age-chart></app-age-chart>
    </div>
  </div>

  <!-- Accumulated cases -->
  <div class="row-cols-1 mt-5">
    <h5 class="bg-dark chart-tittle">accumulated cases</h5>
    <app-accumulated-chart [view]="[1120, 500]"></app-accumulated-chart>
  </div>

  <!-- Regions -->
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-6">
        <h5 class="bg-dark chart-tittle">region1</h5>
        <app-region-chart></app-region-chart>
      </div>
      <div class="col-6">
        <h5 class="bg-dark chart-tittle">region2</h5>
        <app-region-chart></app-region-chart>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <h5 class="bg-dark chart-tittle">region3</h5>
        <app-region-chart></app-region-chart>
      </div>
      <div class="col-6">
        <h5 class="bg-dark chart-tittle">region4</h5>
        <app-region-chart></app-region-chart>
      </div>
    </div>
  </div>

</div>
