<body>
<div class="container" data-aos="fade-in">
  <div class="card">
    <div class="content">
      <div class="label">patient access
        <div class="button button-link" routerLink="/worker-access">
          <img src="assets/auth/heartLineIcon.svg" class="button-icon"/>
          worker access
        </div>
      </div>
      <div class="card-secondary" style="margin-bottom: 20px">
        <div class="content">
          <div class="label-oblique">have an account? sign in here:</div>
          <form [formGroup]="signInForm">
            <div class="row">
              <div class="col">
                <div class="form-label">email:</div>
                <div class="form-label">password:</div>
              </div>
              <div class="col">
                <input type="email" class="formControl entry" formControlName="userEmail" #email required>
                <input type="password" class="formControl entry" formControlName="userPassword" #password required>
              </div>
            </div>
            <div class="row">
              <div class="button button-auth" (click)="signIn(email.value, password.value)">
                <img src="assets/auth/signInIcon.svg" class="button-icon"/>
                sign in
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-secondary">
        <div class="content">
          <div class="label-oblique">not part of the club? sign up here:</div>
          <form [formGroup]="signUpForm">
            <div class="row">
              <div class="col">
                <div class="form-label">email:</div>
                <div class="form-label">password:</div>
                <div class="form-label">name:</div>
                <div class="form-label">last name:</div>
                <div class="form-label">ID/SSN number:</div>
                <div class="form-label">birthdate:</div>
                <div class="form-label">region:</div>
                <div class="form-label">nationality:</div>
                <div class="form-label">hospital:</div>
                <div class="form-label">sex:</div>
              </div>
              <div class="col">
                <input type="email" class="formControl entry" formControlName="newEmail" #nEmail required>
                <input type="password" class="formControl entry" formControlName="newPassword" #nPassword required>
                <input type="text" class="formControl entry" formControlName="newName" #name required>
                <input type="text" class="formControl entry" formControlName="newLastName" #lastName required>
                <input type="number" class="formControl entry" formControlName="newSSN" #ssn required>
                <input matInput [matDatepicker]="aka" placeholder="birth date" (dateChange)= "updateDOB($event)" disabled>
                <mat-datepicker-toggle matSuffix [for]="aka"></mat-datepicker-toggle>
                <mat-datepicker touchUi #aka disabled="false" [startAt]="startDate"></mat-datepicker>
                <mat-form-field>
                  <mat-label>region</mat-label>
                  <mat-select formControlName="newRegion" (selectionChange)="selectedRegion($event)" >
                    <mat-option *ngFor="let t of regions" [value]="t">
                      {{t}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>nationality</mat-label>
                  <mat-select formControlName="newNationality" (selectionChange)="selectedNationality($event)" >
                    <mat-option *ngFor="let t of countries" [value]="t">
                      {{t}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>hospital</mat-label>
                  <mat-select formControlName="newHospital" (selectionChange)="selectedHospital($event)" >
                    <mat-option *ngFor="let t of hospitals" [value]="t">
                      {{t}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>sex</mat-label>
                  <mat-select formControlName="newSex" (selectionChange)="selectedSex($event)" >
                    <mat-option *ngFor="let t of sexes" [value]="t">
                      {{t}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="button button-auth" (click)="signUp(nEmail.value, nPassword.value, name.value, lastName.value, ssn.value)">
              <img src="assets/auth/registerIcon.svg" class="button-icon" id="signUpButton"/>
              sign up
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
