.container {
  width: 40%;
  padding-top: 180px;
  font-size: 15pt;
}

.label {
  padding-bottom: 30px;
}

.half {
  width: 50%;
  display: inline-block;
}

.square {
  text-align: center;
  margin: 40px auto 0px auto;
}

.entry {
  margin-bottom: 10px;
}
