.container {
  padding-top: 180px;
  max-width: 90%;
}

.card-secondary {
  margin-top: 30px;

  .content {
    text-align: center;

    .button {
      width: max-content;
      margin: 30px auto 0px auto;
    }
  }
}

.left {
  width: 40%;
}

.right {
  width: 60%;
  float: right;
}

.subtitle {
  font-style: italic;
  padding-bottom: 20px;
}

.information {
  text-align: left;
  font-size: 15pt;
  line-height: 50px;
}

.checkbox-align {
  text-align: left;
  padding-top: 10px;
}

.form-check-label {
  font-size: 16pt;
  padding-left: 10px;
}

input[type='radio'] {
  transform: scale(1.8);
  border-color: #43C59E;
}
