<body>
<div class="container">
  <img src="assets/ads/health-center-ad1.png" class="banner-ad"/>
  <div class="card">
    <div class="content">
      <span class="label">pandemica health center at {{ user.name }}</span>
      <div class="button" style="float: right" (click)="authService.SignOut()">
        <img src="assets/xIcon.svg" class="button-icon"/>
        sign out
      </div>
      <div class="row" style="width: 100%">
        <div class="card-secondary col-sm-7">
          <div class="content">
            <div class="subtitle" style="font-size: 18pt">general information:</div>
            <div class="row information">
              <div class="col-sm-6">
                location: <span class="info-label">{{ user.country }}, {{ user.region }}</span>
                <br>
                name: <span class="info-label">{{ user.name }}</span>
                <br>
                bed count: <span class="info-label">{{ user.bed_count }}</span>
              </div>
              <div class="col-sm-6">
                ICU count: <span class="info-label">{{ user.icu_count }}</span>
                <br>
                director: <span class="info-label">{{ user.director }}</span>
                <br>
                contact: <span class="info-label">{{ user.contact }}</span>
              </div>
            </div>
          </div>
        </div>
        <span class="col-sm-1"></span>
        <div class="card-secondary col-sm-4">
          <div class="content">
            <div class="subtitle" style="font-size: 18pt">report generation:</div>
            <div class="checkbox-align">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radioButton" id="patientsByStatusRadio" value="patientsByStatus" [(ngModel)]="reportType" (change)="onItemChange($event.target.value)" [checked]="true">
                <label class="form-check-label" for="patientsByStatusRadio">patients by status</label>
                <br><br>
                <input class="form-check-input" type="radio" name="radioButton" id="casesDeathsRadio" value="casesDeaths" [(ngModel)]="reportType" (change)="onItemChange($event.target.value)">
                <label class="form-check-label" for="casesDeathsRadio">cases & deaths last week</label>
              </div>
            </div>
            <div class="button" (click)="generateReport()">
              <img src="assets/health-center/reportIcon.svg" class="button-icon"/>
              generate report
            </div>
          </div>
        </div>
      </div>
      <div class="card-secondary">
        <div class="content">
          <div class="subtitle" style="font-size: 18pt">patients:</div>
          <table class="table">
            <thead>
            <tr>
              <th *ngFor="let head of tableData[0] | keys">{{ head }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of tableData">
              <td *ngFor="let list of item | keys">{{ item[list] }}</td>
              <td>
                <span (click)="editElement(item)">
                  <img src="assets/editIcon.svg" class="red-icon padded-icon"/>
                </span>
              </td>
              <td>
                <span (click)="deleteElement(item)">
                  <img src="assets/deleteIcon.svg" class="red-icon padded-icon"/>
                </span>
              </td>
              <td>
                <span (click)="contactElement(item)">
                  <img src="assets/contactIcon.svg" class="red-icon padded-icon"/>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="button" style="margin-left: 0px">
            <img src="assets/addIcon.svg" class="button-icon padded-icon"/>
            add new
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
