<body mat-dialog-content class="dark-ready-body" style="padding: 0px">
<div class="card-secondary">
  <div class="content">
    <div class="subtitle" style="font-size: 20pt">medication of patient {{ this.patientName }}</div>
    <mat-card>
      <mat-card-content>
        <div class="container" style="text-align: center">
          <div *ngIf="tableData.length == 0 else table" class="label" style="font-size: 12pt">
            <div *ngIf="!viewOnly else viewOnlyEmptyMessage">
              This table is empty. Try adding a new element!
            </div>
            <ng-template #viewOnlyEmptyMessage>
              You don't have any assigned medication. Great!
            </ng-template>
          </div>
          <ng-template #table>
            <table class="table">
              <thead>
              <tr>
                <th *ngFor="let head of tableData[0] | keys">{{ head }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of tableData">
                <td *ngFor="let list of item | keys">{{ item[list] }}</td>
                <div *ngIf="!viewOnly">
                  <td>
                    <span (click)="editElement(item)">
                      <img src="assets/editIcon.svg" class="red-icon padded-icon"/>
                    </span>
                  </td>
                  <td>
                    <span (click)="deleteElement(item)">
                      <img src="assets/deleteIcon.svg" class="red-icon padded-icon"/>
                    </span>
                  </td>
                </div>
              </tr>
              </tbody>
            </table>
          </ng-template>
        </div>
      </mat-card-content>
    </mat-card>
    <div *ngIf="!viewOnly">
      <div class="button" style="margin-left: 0px" (click)="addElement()">
        <img src="assets/addIcon.svg" class="button-icon padded-icon"/>
        add new
      </div>
    </div>
  </div>
</div>
</body>
