<mat-card-content mat-dialog-content>
  <div class="container">
    <div class="info-label" style="font-size: 20pt;margin-bottom: 30px;margin-top: 20px">
      <div *ngIf="type === 'add'; else editTitleLabel">
        {{ type }} new lounge
      </div>
      <ng-template #editTitleLabel>
        {{ type }} lounge
      </ng-template>
    </div>
    <form [formGroup]="_elementForm">
      <div class="form-group">
        <div class="row" style="margin-bottom: 10px">
          <div class="col-md-6">
            <label>lounge number</label>
            <input type="number" formControlName="lNumber" class="form-control" id = 'l1'>
          </div>
          <div class="col-md-6">
            <label>lounge name</label>
            <input type="text" formControlName="lName" class="form-control" id = 'l2'>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>bed capacity</label>
            <input type="number" formControlName="lCapacity" class="form-control" id = 'l3'>
          </div>
          <div class="col-md-6" style="margin-top: 20px">
            <mat-radio-group name="options" [(ngModel)]="selectedCategory">
              <mat-radio-button *ngFor="let op of categories" name="options" [value]="op"  style="margin: 10px">
                {{op}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row" style="margin-bottom: 10px">
          <div class="col-md-6">
            <label>floor number</label>
            <input type="number" formControlName="lFloor" class="form-control" id = 'l4'>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col">
        <button class="button" (click)="submit()" style="margin-top: 30px">
          <div *ngIf="type === 'add'; else editLabel">
            <img src="assets/addIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </div>
          <ng-template #editLabel>
            <img src="assets/editIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </ng-template>
        </button>
        <button type="submit" class="button" (click)="emptyEntryData()" style="margin-top: 30px">
          <img src="assets/admin/refreshIcon.svg" class="button-icon padded-icon"/>
          empty
        </button>
      </div>
    </div>
  </div>
</mat-card-content>
