<mat-card-content mat-dialog-content>
  <div class="container">
    <div class="info-label" style="font-size: 20pt;margin-bottom: 30px;margin-top: 20px">
      <div *ngIf="type === 'add'; else editTitleLabel">
        {{ type }} new procedure
      </div>
      <ng-template #editTitleLabel>
        {{ type }} procedure
      </ng-template>
    </div>
    <form [formGroup]="_elementForm">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>procedure name</label>
            <input type="text" formControlName="pName" class="form-control" id = 'p1'>
          </div>
          <div class="col-md-6">
            <label>rest days needed</label>
            <input type="number" formControlName="pDays" class="form-control" id = 'p2'>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col">
        <button class="button" (click)="submit()" style="margin-top: 30px">
          <div *ngIf="type === 'add'; else editLabel">
            <img src="assets/addIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </div>
          <ng-template #editLabel>
            <img src="assets/editIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </ng-template>
        </button>
        <button type="submit" class="button" (click)="emptyEntryData()" style="margin-top: 30px">
          <img src="assets/admin/refreshIcon.svg" class="button-icon padded-icon"/>
          empty
        </button>
      </div>
    </div>
  </div>
</mat-card-content>
