<mat-card-content>
  <div class="container">
    <div class="info-label" style="font-size: 20pt;margin-bottom: 30px;margin-top: 20px">
      <div *ngIf="type === 'add'; else editTitleLabel">
        {{ type }} new element
      </div>
      <ng-template #editTitleLabel>
        {{ type }} element
      </ng-template>
    </div>
    <form [formGroup]="_elementForm">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>country</mat-label>
            <mat-select placeholder="Transaction Type" (selectionChange)="selectedCountry($event)" >
              <mat-option *ngFor="let t of countries" [value]="t">
                {{t}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>measurement</mat-label>
            <mat-select placeholder="Transaction Type" (selectionChange)="selectedSanitaryMeasurement($event)" >
              <mat-option *ngFor="let t of sanitaryMeasurements" [value]="t">
                {{t}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input matInput [matDatepicker]="aka" placeholder="start date" (dateChange)= "updateDOB($event)" disabled>
          <mat-datepicker-toggle matSuffix [for]="aka"></mat-datepicker-toggle>
          <mat-datepicker touchUi #aka disabled="false"></mat-datepicker>
        </div>
        <div class="col-md-6">
          <input matInput [matDatepicker]="dp" placeholder="final date" (dateChange)= "updateDOB2($event)" disabled>
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker touchUi #dp disabled="false"></mat-datepicker>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col">
        <button class="button" (click)="submit()" style="margin-top: 30px">
          <div *ngIf="type === 'add'; else editLabel">
            <img src="assets/addIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </div>
          <ng-template #editLabel>
            <img src="assets/editIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</mat-card-content>
