<mat-card-content>
  <div class="container">
    <div class="info-label" style="font-size: 20pt;margin-bottom: 30px;margin-top: 20px">
      <div *ngIf="type === 'add'; else editTitleLabel">
        {{ type }} new element
      </div>
      <ng-template #editTitleLabel>
        {{ type }} element
      </ng-template>
    </div>
    <form [formGroup]="_elementForm">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>measure's name</label>
            <input type="text" formControlName="mName" class="form-control" id = '1'>
          </div>
          <div class="col-md-6">
            <td *ngIf="mState === 0; else noActive">
              <span >
               <mat-form-field>
                <mat-label>measure state</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Active</mat-option>
                    <mat-option value="option2" disabled>Measure is actually inactive</mat-option>
                </mat-select>
               </mat-form-field>
              </span>
            </td>
            <ng-template #noActive>
              <mat-form-field>
                <mat-label>measure state</mat-label>
                <mat-select [disabled]="disableSelect.value">
                  <mat-option value="option3">Inactive</mat-option>
                  <mat-option value="option4" disabled >Measure can not be active</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input matInput [matDatepicker]="aka" placeholder="Choose a date" (dateChange)= "updateDOB($event)" disabled>
            <mat-datepicker-toggle matSuffix [for]="aka"></mat-datepicker-toggle>
            <mat-datepicker touchUi #aka disabled="false"></mat-datepicker>
          </div>
          <div class="col-md-6">
            <input matInput [matDatepicker]="dp" placeholder="Choose a date" (dateChange)= "updateDOB2($event)" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker touchUi #dp disabled="false"></mat-datepicker>
          </div>
          <div class="col-md-6">
              <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select placeholder="Transaction Type" (selectionChange)="selected($event)" >
                  <mat-option *ngFor="let t of states" [value]="t">
                    {{t}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
    </form>
    <div class="row">
      <div class="col">
        <button class="button" (click)="submit()" style="margin-top: 30px">
          <div *ngIf="type === 'add'; else editLabel">
            <img src="assets/addIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </div>
          <ng-template #editLabel>
            <img src="assets/editIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </ng-template>
        </button>
        <button type="submit" class="button" (click)="emptyEntryData()" style="margin-top: 30px">
          <img src="assets/admin/refreshIcon.svg" class="button-icon padded-icon"/>
          empty
        </button>
      </div>
    </div>
  </div>
</mat-card-content>
