<body>
<div class="container">
  <div class="card">
    <div class="content">
      <div class="label">error 404 - page not found 🙈</div>
      <div class="poem">
        nature's first green is gold
        <br>
        her hardest hue to hold
        <br>
        her early leaf's a flower
        <br>
        but only so an hour
        <br>
        then leaf subsides to leaf
        <br>
        so Eden sank to grief
        <br>
        so dawn goes down to day
        <br>
        <div class="label-red">nothing gold can stay</div>
      </div>
      <img src="assets/extra/marmot.jpg">
    </div>
  </div>
</div>
</body>
