.container {
  padding-top: 180px;
  max-width: 80%;
}

.poem {
  float: left;
  width: 50%;
  text-align: center;
  padding-top: 60px;
  font-size: 18pt;
  margin: auto;
}

img {
  width: 40%;
  border-radius: 20px 0px;
  float: right;
  margin-right: 5%;
}

.label-red {
  padding-top: 20px;
  font-size: 20pt;
}
