<body>
  <footer class="container mt-5">
    <div class="hline-footer"></div>
    <div class="row">
      <div class="col mt-3">
        <div class="bottom-text">pandemica by Schlafenhase. 2020.</div>
        <div class="bottom-text">
          made in Costa Rica
          <img src="assets/footer/crIcon.svg" style="height: 68px">
          <img src="assets/footer/heartIcon.svg" style="height: 34px">
        </div>
      </div>
      <div class="col">
        <img src="assets/schlafenhase-logo.png" alt="" class="logo dark-ready" style="height: 100px">
      </div>
    </div>
  </footer>
</body>
