<mat-card-content>
  <div class="container">
    <div class="info-label" style="font-size: 20pt;margin-bottom: 30px;margin-top: 20px">
      <div *ngIf="type === 'add'; else editTitleLabel">
        {{ type }} new element
      </div>
      <ng-template #editTitleLabel>
        {{ type }} element
      </ng-template>
    </div>
    <form [formGroup]="_elementForm">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>patient name</label>
            <input type="text" formControlName="pName" class="form-control" id = 'p1'>
          </div>
          <div class="col-md-6">
            <label>patient last name</label>
            <input type="text" formControlName="pLast" class="form-control" id = 'p2'>
          </div>
          <div class="col-md-6">
            <label>age</label>
            <input type="text" formControlName="pAge" class="form-control" id = 'p3'>
          </div>
          <div class="col-md-6">
            <label>nationality</label>
            <input type="text" formControlName="pNationality" class="form-control" id = 'p4'>
          </div>
          <div class="col-md-6">
            <label>region</label>
            <input type="text" formControlName="pRegion" class="form-control" id = 'p5'>
          </div>
          <div class="col-md-6">
            <label>pathology list</label>
            <input type="text" formControlName="pPathology" class="form-control" id = 'p6'>
          </div>
          <div class="col-md-6">
            <label>state</label>
            <input type="text" formControlName="pState" class="form-control" id = 'p7'>
          </div>
          <div class="col-md-6">
            <label>medication</label>
            <input type="text" formControlName="pMedication" class="form-control" id = 'p8'>
          </div>
          <div class="col-md-6">
            <label>is the patient hospitalized?</label>
            <mat-form-field>
              <mat-label>patient in hospital?</mat-label>
              <mat-select placeholder="Transaction Type" (selectionChange)="selected($event)" >
                <mat-option *ngFor="let t of yesOrNo" [value]="t">
                  {{t}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <label>is the patient in UCI?</label>
            <mat-form-field>
              <mat-label>patient in UCI?</mat-label>
              <mat-select placeholder="Transaction Type" (selectionChange)="selected2($event)" >
                <mat-option *ngFor="let t of yesOrNo" [value]="t">
                  {{t}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col">
        <button class="button" (click)="submit()" style="margin-top: 30px">
          <div *ngIf="type === 'add'; else editLabel">
            <img src="assets/addIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </div>
          <ng-template #editLabel>
            <img src="assets/editIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </ng-template>
        </button>
        <button type="submit" class="button" (click)="emptyEntryData()" style="margin-top: 30px">
          <img src="assets/admin/refreshIcon.svg" class="button-icon padded-icon"/>
          empty
        </button>
      </div>
    </div>
  </div>
</mat-card-content>
