<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321004965436-vqi8p3d205pk1lf6eu5jqatonimq73th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321004965436-vqi8p3d205pk1lf6eu5jqatonimq73th</string>
	<key>API_KEY</key>
	<string>AIzaSyCUTuP3B26euidLPc-5JSPQlICtnp_GJM0</string>
	<key>GCM_SENDER_ID</key>
	<string>321004965436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>schlafenhase.Pandemica</string>
	<key>PROJECT_ID</key>
	<string>pandemica-259ec</string>
	<key>STORAGE_BUCKET</key>
	<string>pandemica-259ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321004965436:ios:6ddf5b285f3235a4eefd39</string>
	<key>DATABASE_URL</key>
	<string>https://pandemica-259ec.firebaseio.com</string>
</dict>
</plist>