<body>
<div class="container" data-aos="fade-in">
  <div class="card">
    <div class="content">
      <span class="label">welcome back, {{ user.name }}</span>
      <div class="button" style="float: right" (click)="authService.SignOut()">
        <img src="assets/xIcon.svg" class="button-icon"/>
        sign out
      </div>
      <div class="row">
        <div class="card-secondary col-sm">
          <div class="content">
            <div class="subtitle">patient dashboard:</div>
            <div class="row">
              <div class="square button" (click)="openPopUp('pathologies')">
                <div class="content">
                  <img src="assets/admin/pathologiesIcon.svg"/>
                  <div class="label small">pathologies</div>
                </div>
              </div>
              <div class="square button" (click)="openPopUp('medication')">
                <div class="content">
                  <img src="assets/admin/medicationIcon.svg"/>
                  <div class="label small">medication</div>
                </div>
              </div>
              <div class="square button" (click)="openPopUp('reservations')">
                <div class="content">
                  <img src="assets/health-center/plus/bedIcon.svg"/>
                  <div class="label small">reservations</div>
                </div>
              </div>
              <div class="square button" (click)="openPopUp('medical-history')">
                <div class="content">
                  <img src="assets/health-center/medicalHistoryIcon.svg"/>
                  <div class="label">history</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card-secondary col-sm-7" style="margin-right: 20px">
          <div class="content" style="text-align: left">
            <span class="subtitle">profile information:</span>
            <div class="rounded-button" style="float: right" (click)="openPopUp('edit-patient')">
              <img src="assets/editIcon.svg" class="button-icon-fixed">
            </div>

            <div class="row information">
              <div class="col-sm-6">
                name: <span class="info-label">{{ user.lastName }}, {{ user.name }}</span>
                <br>
                ssn: <span class="info-label">{{ user.ssn }}</span>
                <br>
                birthdate: <span class="info-label">{{ user.birthdate }}</span>
                <br>
              </div>
              <div class="col-sm-6">
                nationality: <span class="info-label">{{ user.nationality }}</span>
                <br>
                region: <span class="info-label">{{ user.region }}</span>
                <br>
                email: <span class="info-label">{{ user.email }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-secondary col-sm-5" style="margin-right: -20px; text-align: left">
          <div class="content" style="text-align: left">
            <div class="subtitle">feedback:</div>
            <div class="row">
              <label>Cleanliness</label>
              <mat-radio-group name="options1" [(ngModel)]="selectedCategory1">
                <mat-radio-button *ngFor="let op of categories1" name="options1" [value]="op"  style="margin: 10px">
                  {{op}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row">
              <label>Service  </label>
              <mat-radio-group name="options2" [(ngModel)]="selectedCategory2">
                <mat-radio-button *ngFor="let op of categories2" name="options2" [value]="op"  style="margin: 10px">
                  {{op}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row">
              <label>Punctuality</label>
              <mat-radio-group name="options3" [(ngModel)]="selectedCategory3">
                <mat-radio-button *ngFor="let op of categories3" name="options3" [value]="op"  style="margin: 10px">
                  {{op}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="square button" style="float: left" (click)="submitFeedbackInfo()">
              <div class="content">
                <div class="label">Submit</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
