@import "theme";
@import "~leaflet/dist/leaflet.css";
@import 'assets/modules/_fonts.scss';

// Colors
$primary: #43c59e;
$secondary: #ACFCD9;
$info: #80CED7;
$warn: #F0D980;
$danger: #F61067;
$dark: #575D75;
$light: #E8F1F2;


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Pandemica-primary: mat-palette($ocean-green, A200, A100, A400);
$Pandemica-accent: mat-palette($magic-mint, A200, A100, A400);
$Pandemica-info: mat-palette($middle-blue, A200, A100, A400);
$Pandemica-warn: mat-palette($cerise, A200, A100, A400);
$Pandemica-danger: mat-palette($buff, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$Pandemica-warn: mat-palette($warn);
//$Pandemica-danger: mat-palette($danger);

// Create the theme object (a Sass map containing all of the palettes).
$Pandemica-theme: mat-light-theme($Pandemica-primary, $Pandemica-accent, $Pandemica-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Pandemica-theme);

/* You can add global styles to this file, and also import other style files */


// Bootstrap theming
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "danger": $danger,
  "warning": $warn,
  "dark": $dark,
  "light": $light
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: 'Avenir Book', sans-serif;
  font-size: 14pt;
  background-color: #E1FAF9;
}

// Global card and element styles

$break-smallest: 350px;
$break-small: 900px;
$break-medium: 1500px;
$break-large: 1800px;

.rounded-button {
  background: white;
  border: 4px solid $danger;
  border-radius: 50%;
  cursor: pointer;
  -moz-border-radius:50%;
  -webkit-border-radius: 50%;
  padding: 8px;
  display: inline-block;

  &:hover {
    background: $warn;
  }
}

.button {
  background: white;
  border: 4px solid $danger;
  cursor: pointer;
  padding: 8px;
  margin-right: 15px;
  font-family: 'Avenir Black', sans-serif;
  font-size: 14pt;

  @media screen and (max-width: $break-small) {
    font-size: 11pt;
  }

  &:hover {
    background: $warn;
  }
}

.button-icon {
  height: 30px;
  filter: invert(87%) sepia(6%) saturate(3757%) hue-rotate(100deg) brightness(78%) contrast(96%);

  @media screen and (max-width: $break-small) {
    height: 20px;
  }
}

.button-icon-fixed {
  height: 30px;
  filter: invert(87%) sepia(6%) saturate(3757%) hue-rotate(100deg) brightness(78%) contrast(96%);
}

.red-icon {
  height: 30px;
  cursor: pointer;
  filter: invert(28%) sepia(91%) saturate(7054%) hue-rotate(328deg) brightness(97%) contrast(98%);
}

.padded-icon {
  margin-right: 10px;
}

.card {
  background: $secondary;
  border: 3px solid $primary;
  box-sizing: border-box;
  border-radius: 0px 60px;

  .content {
    padding: 40px 60px;

    @media screen and (max-width: $break-small) {
      padding: 40px;
    }
  }

  .label {
    padding-top: 5px;
    font-size: 24pt;
    font-family: 'Avenir Heavy', sans-serif;

    @media screen and (max-width: $break-small) {
      font-size: 20pt;
    }

    @media screen and (max-width: $break-smallest) {
      font-size: 16pt;
    }
  }
}

.card-secondary {
  background: $secondary;
  border: 5px solid $warn;
  box-sizing: border-box;
  border-radius: 60px 0px;

  .content {
    padding: 40px 60px;

    @media screen and (max-width: $break-small) {
      padding: 40px 20px;
    }

    .label {
      font-family: 'Avenir Medium', sans-serif;
      font-size: 18pt;
    }

    .subtitle {
      text-align: left;
      font-size: 18pt;

      @media screen and (max-width: $break-smallest) {
        font-size: 14pt;
      }
    }
  }
}

.square {
  width: 120px;
  height: 120px;
  margin: 10px auto;

  .content {
    padding: 10px;

    .label {
      font-family: 'Avenir Black', sans-serif;
      font-size: 16pt;
    }

    .small {
      padding-top: 15px;
      font-size: 10pt;
    }

    .medium {
      font-size: 12pt;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.entry {
  border: 1px solid #66727C;
  box-sizing: border-box;
  border-radius: 10px;
  height: 40px;
  font-size: 14pt;
  width: 100%;
}

.label-red {
  color: $danger;
}

.info-label {
  font-family: 'Avenir Heavy', sans-serif;
}

.admin-table-card-container {
  padding-top: 180px;
  max-width: 90%;

  @media screen and (max-width: $break-small) {
    max-width: 100%;
    padding-top: 100px;
  }
}

// Second Wave styles

.button-link {
  border: 4px solid $info;
  width: max-content;
  margin-bottom: 10px;
}

.button-link-border {
  border: 4px solid $info;
}

.label-oblique {
  font-style: italic;
}

.auto-width {
  width: max-content;
}

.green-icon {
  height: 30px;
  cursor: pointer;
  filter: invert(91%) sepia(8%) saturate(3301%) hue-rotate(93deg) brightness(84%) contrast(80%);
}

mat-card {
  overflow-x: auto;
}

.custom-dialog {
  mat-dialog-container {
    background-color: $secondary;
    margin: 0 auto;
  }
}

.responsive-dialog {
  mat-dialog-container {
    margin: 0 auto;
  }
}

.table {
  border-radius: 10px;
}

mat-card {
  border-radius: 10px;
}

.col-picker {
  text-align: center;
}

// Global responsive styles

@media screen and (max-width: $break-small) {
  .title {
    font-size: 10pt;
  }
}

// Dark mode styles

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }

  .card {
    background: #282828;
  }

  .card-secondary {
    background: #282828;
  }

  .dark-ready {
    filter: invert(1);
  }

  .dark-inverted-text {
    color: black;
  }

  #mainLogo, #schlafenhaseLogo {
    filter: invert(1);
  }

  .button {
    color: black;
  }

  // Second Wave styles

  .custom-dialog {
    mat-dialog-container {
      background-color: black;
    }
  }

  .dark-ready-body {
    background-color: $black;
  }

  .table {
    background-color: #282828;
    color: white;
  }

  .container-alert {
    background-color: #19191a !important;
  }
}
