<body>
<div class="container admin-table-card-container" data-aos="fade-right">
  <div class="card">
    <div class="content">
      <div class="button button-link" style="margin: 0 0 30px 0" routerLink="/health-center-dashboard">
        <img src="assets/backIcon.svg" class="button-icon padded-icon"/>
        back
      </div>
      <div class="card-secondary">
        <div class="content">
          <div class="subtitle" style="font-size: 20pt">beds</div>
          <div class="button" style="margin-left: 0px">
            <img src="assets/addIcon.svg" class="button-icon padded-icon"/>
            add new
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
