<mat-card-content>
  <div class="container">
    <div class="info-label" style="font-size: 20pt;margin-bottom: 30px;margin-top: 20px">
      <div *ngIf="type === 'add'; else editTitleLabel">
        {{ type }} new element
      </div>
      <ng-template #editTitleLabel>
        {{ type }} element
      </ng-template>
    </div>
    <form [formGroup]="_elementForm">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>name</label>
            <input type="text" formControlName="Name" class="form-control" id = 'h1'>
          </div>
          <div class="col-md-6">
            <label>phone</label>
            <input type="number" formControlName="Region" class="form-control" id = 'h2'>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>manager name</label>
            <input type="text" formControlName="bCapacity" class="form-control" id = 'h3'>
          </div>
          <div class="col-md-6">
            <label>capacity</label>
            <input type="number" formControlName="bAmount" class="form-control" id = 'h4'>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>icu capacity</label>
            <input type="number" formControlName="dContact" class="form-control" id = 'h5'>
          </div>
          <div class="col-md-6">
            <label>email</label>
            <input type="text" formControlName="hDirector" class="form-control" id = 'h6'>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
             <mat-label>Country</mat-label>
             <mat-select (selectionChange)="selectedCountry($event)">
                <mat-option *ngFor="let t of countries" [value]="t">
                 {{t}}
               </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Region</mat-label>
              <mat-select (selectionChange)="selectedRegion($event)">
                <mat-option *ngFor="let t of regions" [value]="t">
                  {{t}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col">
        <button class="button" (click)="submit()" style="margin-top: 30px">
          <div *ngIf="type === 'add'; else editLabel">
            <img src="assets/addIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </div>
          <ng-template #editLabel>
            <img src="assets/editIcon.svg" class="button-icon padded-icon"/>
            {{ type }}
          </ng-template>
        </button>
        <button type="submit" class="button" (click)="emptyEntryData()" style="margin-top: 30px">
          <img src="assets/admin/refreshIcon.svg" class="button-icon padded-icon"/>
          empty
        </button>
      </div>
    </div>
  </div>
</mat-card-content>
